<!-- The Ghost Box -->
<a-box id='ghost-box-bottom' position='2 0.5 1' width='2' height='0.5' depth='16' color='blue'></a-box>
<a-box id='ghost-box-left' position='7 0.5 -6' width='8' height='0.5' depth='2' color='blue'></a-box>
<a-box id='ghost-box-door-left' position='10 0.5 -3.5' width='2' height='0.5' depth='3' color='blue'></a-box>
<a-box id='ghost-box-right' position='7 0.5 8' width='8' height='0.5' depth='2' color='blue'></a-box>
<a-box id='ghost-box-door-left' position='10 0.5 5.5' width='2' height='0.5' depth='3' color='blue'></a-box>
<!-- End The Ghost Box -->

<!-- The Upper Bottom T -->
<a-box id='upper-bottom-t-long' position='-3 0.5 1' width='4' height='0.5' depth='16' color='blue'></a-box>
<a-box id='upper-bottom-t-short' position='-8 0.5 1' width='6' height='0.5' depth='4' color='blue'></a-box>
<!-- End The Upper Bottom T -->

<!-- The Under Upper Bottom T Left Box -->
<a-box id='under-upper-bottom-t-left' position='-9 0.5 -8' width='4' height='0.5' depth='10' color='blue'></a-box>
<!-- End The Under Upper Bottom T Left Box -->

<!-- The Lower Bottom T -->
<a-box id='upper-bottom-t-long' position='-15 0.5 1' width='4' height='0.5' depth='16' color='blue'></a-box>
<a-box id='upper-bottom-t-short' position='-20 0.5 1' width='6' height='0.5' depth='4' color='blue'></a-box>
<!-- End The Lower Bottom T -->

<!-- The Under Upper Bottom T Right Box -->
<a-box id='under-upper-bottom-t-right' position='-9 0.5 10' width='4' height='0.5' depth='10' color='blue'></a-box>
<!-- End The Under Upper Bottom T Left Box -->

<!-- The Lower Left L -->
<a-box id='lower-left-l-short' position='-9 0.5 -19' width='4' height='0.5' depth='8' color='blue'></a-box>
<a-box id='lower-left-l-long' position='-14 0.5 -17' width='6' height='0.5' depth='4' color='blue'></a-box>
<!-- End The Lower Left L -->

<!-- The Lower Right L -->
<a-box id='lower-right-l-short' position='-9 0.5 21' width='4' height='0.5' depth='8' color='blue'></a-box>
<a-box id='lower-right-l-long' position='-14 0.5 19' width='6' height='0.5' depth='4' color='blue'></a-box>
<!-- End The Lower Right L -->

<!-- The Lower Left Protrusion -->
<a-box id='lower-left-protrustion' position='-15 0.5 -23' width='4' height='0.5' depth='4' color='blue'></a-box>
<!-- End The Lower Left Protrustion -->

<!-- The Lower Right Protrusion -->
<a-box id='lower-right-protrustion' position='-15 0.5 25' width='4' height='0.5' depth='4' color='blue'></a-box>
<!-- End The Lower Right Protrustion -->

<!-- The Lower Left Billy Club -->
<a-box id='lower-left-billy-club-short' position='-16 0.5 -11' width='6' height='0.5' depth='4' color='blue'></a-box>
<a-box id='lower-left-billy-club-long' position='-21 0.5 -13' width='4' height='0.5' depth='20' color='blue'></a-box>
<!-- End The Lower Left Billy Club -->

<!-- The Lower Right Billy Club -->
<a-box id='lower-right-billy-club-short' position='-16 0.5 13' width='6' height='0.5' depth='4' color='blue'></a-box>
<a-box id='lower-right-billy-club-long' position='-21 0.5 15' width='4' height='0.5' depth='20' color='blue'></a-box>
<!-- End The Lower Left Billy Club -->

<!-- The Bottom Wall -->
<a-box id='bottom-wall' position='-26 0.5 1' width='2' height='0.5' depth='56' color='blue'></a-box>
<!-- End The Bottom Wall -->

<!-- The Bottom Left Wall -->
<a-box id='bottom-left-wall' position='-10 0.5 -26' width='30' height='0.5' depth='2' color='blue'></a-box>
<!-- End The Bottom Left Wall -->

<!-- The Bottom Right Wall -->
<a-box id='bottom-right-wall' position='-10 0.5 28' width='30' height='0.5' depth='2' color='blue'></a-box>
<!-- End The Bottom Right Wall -->

<!-- The Bottom Left Bulwark -->
<a-box id='bottom-left-bulkwark' position='0 0.5 -20' width='10' height='0.5' depth='10' color='blue'></a-box>
<!-- End The Bottom Left Bulwark -->

<!-- The Bottom Right Bulwark -->
<a-box id='bottom-right-bulkwark' position='0 0.5 22' width='10' height='0.5' depth='10' color='blue'></a-box>
<!-- End The Bottom Right Bulwark -->

<!-- The Top Right Bulwark -->
<a-box id='top-right-bulkwark' position='12 0.5 22' width='10' height='0.5' depth='10' color='blue'></a-box>
<!-- End The Bottom Right Bulwark -->

<!-- The Top Left Bulwark -->
<a-box id='top-left-bulkwark' position='12 0.5 -20' width='10' height='0.5' depth='10' color='blue'></a-box>
<!-- End The Top Left Bulwark -->

<!-- The Top Left Wall -->
<a-box id='top-left-wall' position='20 0.5 -26' width='26' height='0.5' depth='2' color='blue'></a-box>
<!-- End The Top Left Wall -->

<!-- The Top Right Wall -->
<a-box id='top-right-wall' position='20 0.5 28' width='26' height='0.5' depth='2' color='blue'></a-box>
<!-- End The Top Right Wall -->

<!-- The Top Wall -->
<a-box id='top-wall' position='34 0.5 1' width='2' height='0.5' depth='56' color='blue'></a-box>
<!-- End The Top Left Wall -->

<!-- Top Center T -->
<a-box id='top-center-t-short' position='16 0.5 1' width='6' height='0.5' depth='4' color='blue'></a-box>
<a-box id='top-center-t-long' position='21 0.5 1' width='4' height='0.5' depth='16' color='blue'></a-box>
<!-- End Top Center T -->

<!-- Top Left T -->
<a-box id='top-left-t-short' position='15 0.5 -6' width='4' height='0.5' depth='6' color='blue'></a-box>
<a-box id='top-left-long' position='15 0.5 -11' width='16' height='0.5' depth='4' color='blue'></a-box>
<!-- End Top Left T -->

<!-- Top Right T -->
<a-box id='top-right-t-short' position='15 0.5 8' width='4' height='0.5' depth='6' color='blue'></a-box>
<a-box id='top-right-long' position='15 0.5 13' width='16' height='0.5' depth='4' color='blue'></a-box>
<!-- End Top Right T -->

<!-- Bottom Left Vert Bar -->
<a-box id='bottom-left-vert-bar' position='0 0.5 -11' width='10' height='0.5' depth='4' color='blue'></a-box>
<!-- End Bottom Left Vert Bar -->

<!-- Bottom Right Vert Bar -->
<a-box id='bottom-right-vert-bar' position='0 0.5 13' width='10' height='0.5' depth='4' color='blue'></a-box>
<!-- End Bottom Right  Vert Bar -->

<!-- Top Left Hor Bar -->
<a-box id='top-left-hor-bar' position='21 0.5 -19' width='4' height='0.5' depth='8' color='blue'></a-box>
<!-- End Top Left Hor Bar -->

<!-- Top Right Hor Bar -->
<a-box id='top-right-hor-bar' position='21 0.5 21' width='4' height='0.5' depth='8' color='blue'></a-box>
<!-- End Top Right Hor Bar -->

<!-- Top Center Protrusion -->
<a-box id='top-center-protrusion' position='29 0.5 1' width='8' height='0.5' depth='4' color='blue'></a-box>
<!-- End Top Center Protrusion -->

<!-- Top Left Short Box -->
<a-box id='top-left-short-box' position='28 0.5 -19' width='6' height='0.5' depth='8' color='blue'></a-box>
<!-- End Top Left Short Box -->

<!-- Top Right Short Box -->
<a-box id='top-right-short-box' position='28 0.5 21' width='6' height='0.5' depth='8' color='blue'></a-box>
<!-- End Top Right Short Box -->

<!-- Top Left Long Box -->
<a-box id='top-left-long-box' position='28 0.5 -8' width='6' height='0.5' depth='10' color='blue'></a-box>
<!-- End Top Left Short Box -->

<!-- Top Right Long Box -->
<a-box id='top-right-long-box' position='28 0.5 10' width='6' height='0.5' depth='10' color='blue'></a-box>
<!-- End Top Left Short Box -->

<!--<a-cylinder position='2 0.25 -6' radius='0.25' color='red' height='3'></a-cylinder>-->
<!--<a-cylinder position='2 0.25 8' radius='0.25' color='red' height='3'></a-cylinder>-->


